<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588329663299-2c32e1ee5ed3gt3hpjrjnpqo3k4lpbb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588329663299-2c32e1ee5ed3gt3hpjrjnpqo3k4lpbb8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKonLIl9M1RfGuGRZ_v24FMGENdKvUzWI</string>
	<key>GCM_SENDER_ID</key>
	<string>588329663299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChristopherW.acchmns</string>
	<key>PROJECT_ID</key>
	<string>acc-hymns</string>
	<key>STORAGE_BUCKET</key>
	<string>acc-hymns.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588329663299:ios:8ea864887c05b258404df6</string>
	<key>DATABASE_URL</key>
	<string>https://acc-hymns-default-rtdb.firebaseio.com</string>
</dict>
</plist>